* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-template-areas:
    ". form ."
    ". table ."
}

.add-element {
  grid-area: form;
}

.item {
  align-self: center;
  justify-self: center;
  margin: 20px 0 5px;
}

table {
  grid-area: table;
  min-width: 500px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}